{% extends 'main/base.html' %}

{% block content %}
<div>
    <h1>Présentation</h1>

    <p>Étudiant à l'école d'ingénieur CY-Tech à Pau, je suis une formation d'ingénieur en informatique. Issue d'une Classe Préparatoire aux Grandes Écoles à Nancy, j'ai sû acquérir une grande displine et une bonne méthode de travail afin de mener à bien les projets dans lesquels je me lance.</p>

    <p>La formation suivi à CY-Tech me permet d'acquérir de nouvelles compétences liées à la programmation, mais aussi en communication, ressources humaines, comptabilité et en gestion de projets.</p>
</div>
<div>
    <h1>Compétences</h1>

    <div>
        <div class="competences">
            <div></div>
            <h2>Développement web</h2>
            <p>J'utilise le framework Django pour la réalisation de mes sites internet. Je possède aussi des notions de Javascript me permettant de rendre plus dynamique mes créations.
            </p>
        </div>
        <div class="competences">
            <div></div>
            <h2>Gestion de projets</h2>
            <p>Grâce à plusieurs projets, j'ai sû acquérir des compétences dans la gestion de ceux-ci, me permettant d'être plus efficace dans leur réalisation.</p>
        </div>
        <div class="competences">
            <div></div>
            <h2>Travail d'équipe</h2>
            <p>Que ce soit en entreprise où lors de projets académiques, j'ai l'habitude de travailler avec une équipe et même de coordonner celle-ci.</p>
        </div>

        <div class="button"><a href="/cv">En savoir plus</a></div>
    </div>
</div>
<div>
    <h1>Dernier projet</h1>

    <div class="button"><a href="/portfolio">Voir tous les projets</a></div>
</div>

{% endblock content %}